

  .card {
    bg-white dark:bg-gray-800 rounded-2xl ;
  
  
  .card-border {
    border border-gray-200 dark:border-gray-800;
  
  
  .card-shadow {
    shadow-[0_0.125rem_0.25rem_rgba(0,0,0,0.15)] dark:shadow-[0_0.125rem_0.25rem_rgba(0,0,0,0.15),inset_0_0_0_0.0625rem_rgba(254,254,254,.1)] border-b border-gray-200 dark:border-gray-600 dark:border-none;
  
  
  .card-header-border {
    border-b border-gray-200 dark:border-gray-700 rounded-t-2xl;
  
  
  .card-header-extra {
    flex justify-between items-center;
  
  
  .card-footer {
    rounded-bl-lg rounded-br-lg;
  
  
  .card-footer-border {
    border-t border-gray-200 dark:border-gray-600;
  
  
  .card-header,
  .card-footer {
    py-3 px-5;
  
  
  .card-body {
    p-5;
  
  
  .card-gutterless {
    p-0;
  
  
