
  .drawer-content {
    bg-white dark:bg-gray-800 shadow-xl absolute flex flex-col;
  
    &.vertical {
      h-full;
    
  
    &.horizontal {
      w-full;
    
  
  
  .drawer-header {
    flex items-center justify-between py-4 px-6 border-b border-gray-200 dark:border-gray-700;
  
  
  .drawer-body {
    p-6 h-full overflow-y-auto;
  
  
  .drawer-footer {
    flex items-center justify-between py-4 px-6 border-t border-gray-200 dark:border-gray-700;
  
  
  .drawer-open {
    &.drawer-lock-scroll {
      overflow-hidden;
    
  
  
  .drawer-overlay {
    transition: all 0.3s ease-in-out;
    bg-black/80 inset-0 fixed z-40;
  
  
  .drawer-overlay-after-open {
    opacity: 1;
  
  
  .drawer-overlay-before-close {
    opacity: 0;
  
  
