
  .steps {
    flex justify-between items-center;

    &.steps-vertical {
      flex-col items-start;
    
  

  .step-item {
    flex items-center;

    &.step-item-vertical {
      items-start flex-col;
    
  

  .step-item-wrapper {
    flex items-center;
  

  .step-item-icon {
    min-width: 2.25rem;
    text-lg rounded-full w-9 h-9 flex items-center justify-center font-semibold;

    &.step-item-icon-pending {
      border-2 border-gray-300 dark:border-gray-600;
    

    &.step-item-icon-current {
      border-2;
    
  

  .step-item-content {
    ltr:ml-3 rtl:mr-3 relative;
  

  .step-item-title {
    whitespace-nowrap font-bold block text-gray-600 dark:text-gray-300;

    &.step-item-title-error {
      text-red-500;
    
  

  .step-item-icon-error {
    border-2 border-red-500 text-red-500;
  

  .step-clickable {
    cursor-pointer;
  

  .step-title {
    ml-2.5 rtl:mr-2.5;
  

  .step-connect {
    height: 2px;
    w-full;

    &.inactive {
      bg-gray-200 dark:bg-gray-600;
    

    &.step-connect-vertical {
      min-height: 3.5rem;
      width: 2px;
      ltr:ml-4 rtl:mr-4;
    
  
