
  .upload {
    relative inline-block;

    &.disabled {
      cursor-not-allowed opacity-60;

      .upload-input {
        cursor-not-allowed;
      
    
  

  .upload-input {
    absolute inset-0 hidden;

    &.draggable {
      block opacity-0 w-full cursor-pointer;
    
  

  .upload-draggable {
    min-height: 7rem;
    border-2 border-dashed border-gray-300 dark:border-gray-600 rounded-lg cursor-pointer flex items-center justify-center;
  

  .upload-file-list {
    mt-4;
  

  .upload-file-info {
    min-height: 4rem;
    flex flex-col justify-center ltr:ml-3 rtl:mr-3;
  

  .upload-file {
    flex items-center bg-gray-100 dark:bg-gray-700 rounded-lg mb-2 justify-between;
  

  .upload-file-thumbnail {
    p-2 flex justify-center items-center min-h-16 w-16;
  

  .upload-file-image {
    max-w-full;
  

  .upload-file-remove {
    p-3 mx-2;
  
