.text-primary { color: var(--primary) !important; }
.bg-primary { background-color: var(--primary) !important; }
.border-primary { border-color: var(--primary) !important; }

.text-error { color: var(--error) !important; }
.bg-error { background-color: var(--error) !important; }

.text-success { color: var(--success) !important; }
.bg-success { background-color: var(--success) !important; }
