
  .header {
    bg-white flex z-[31] sticky top-0 w-full dark:bg-gray-800 print:hidden;
  
  
  .header-wrapper {
    flex relative items-center justify-between p-0 px-4 w-full;
  
  
  .header-action {
    flex items-center gap-2;
  
  
  .header-action-item {
    cursor-pointer p-2 rounded-full;
  
  
  .header-action-item-hoverable {
    hover:bg-black/5
      hover:text-gray-900 
      dark:hover:text-gray-100
      dark:hover:bg-black/40
      transition-colors 
      duration-300 
      ease-in-out;
    
